.cta-form-1 {
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-1-input-section {
    /* background-color: yellowgreen; */
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.form-1-input-section input {
    /* background-color: violet; */
    padding: 2%;
    border-radius: 0.5rem;
    border-width: 0;
    width: 40%;
}


@media (max-width: 800px) {
    .form-1-input-section {
        width: 80%;
        flex-direction: column;
    }

    .form-1-input-section input {
        width: 100%;
        margin: 1%;
    }
}